@import url('https://fonts.googleapis.com/css2?family=Alike&family=Lato&family=PT+Serif&family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

:root{
--heading-font: "Alike";
--paragraph-font: Lato;
}

#content{
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 10fr;
    
}

body{
    background-color:#ffffff;
    font-family: Lato, Roboto serif, PT serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
/* .home-title{
    font-family: 'Lato', 'Roboto Serif', PT serif;
    font-size: 2em;
    margin-top: 10px;
} */
header{
    background-color:#ea638c;
    color:#EEEEEE;
    display: grid;
    grid-template-columns:150px auto;
}
nav a:hover{
    background-color: #89023e;
    color: #ffffff;
}

nav{
    display: flex;
    /* justify-content: space-around; */
}

nav a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
.home-title{
    color: #000000;
    margin-top: 10px;
    font-size: 2em;
}
footer{
    color: #000000;
    background-color: #ffd9da;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a{
   
    text-decoration: none;
}
footer a:hover{
    background-color: #E5E5E5;
    /* color:#89023e; */
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    
footer .social img{
    padding-top: 15px;
    height: 50px;
    padding-right: 10px;
}
.logo{
    width: 80px;
    border-radius: 50%;
    
}
.icon{
    width: 80px;
    padding-top: 10px;
}

#logo_link{
    padding-top: 5px;
    padding-left: 50px;
    /* justify-self: center;
    align-self: center; */
}


/* home page start */
.home-container{
    position:relative;
    overflow: hidden;
    
}
.home-grid{
    display: grid;
    grid-template-columns: 10fr auto;
    position: relative;
}

footer{
    margin-top: -1%;
    padding-top: 30px;
}
.home-text, .home-img{
    position: relative;
    max-height: 700px;
   
}
.home-img{
    width: 100%;
    object-fit: cover;
}

.home-text{
    position: absolute;
    margin-left: 50px;
    margin-top: 340px;
    padding: 50px;
    border: 3px solid;
    padding-bottom: 10px;
    display: flex;
    padding-top: 0%;
    z-index: 1;
    background-color: white;
    color: black;
    height: 300px;
    width: 400px;
    font-size: 18px;
    text-align: center;
    
}


/* About CSS */
/* #content{
    border-style:groove;
    
} */
.about-grid{
    background-color: white;
    height: 1500px;
    width: 100%;
}
.about-text{
    float:right;
    top: 200px;
    right: 100px;
    padding: 50px;
    padding-top: 30px;
    position:absolute;
    background-color: white;
    color: black;
    height: 1200px;
    width: 600px;
    font-size: 25px;
    text-align: center;
    border-style:solid;
}
.about-img img{
    padding-left: 100px;
}
.img1{
    height: 400px;
    width: 600px;
    padding-top: 250px;
    
}
.img2{
    height: 400px;
    display: block;
    padding-top: 200px;
}

/* Work CSS */
#work-content{
    max-width: 1600px;
    height: 1000px;
    margin: 0 auto;
}
.work-grid{
    height: 100%;
}
.work-home-title{
    font-family: Alike;
    font-size: 2em;
    padding-top: 100px;
    padding-left: 90px;
    margin-bottom: 0px;
    float: left;
}
.work-container{
    float: left;
    display: flex;
    justify-content: space-between;
    width: 87%;
    height: 47%;
    /* margin: 5rem auto 0 auto; */
    margin-left: 100px;
    
    border: solid;
    
}
.work-container img{
    max-width: 300px;
    max-height: 500px;
    padding-top: 50px;
    padding-left: 40px;
    
}
.work-container h2{
    margin:0;
    padding-left: 20px;
}
.work-container p{
    padding: 0 0 0 20px ;
    font-size: 22px;
    text-align: justify;
}
.work-text{
    padding: 50px;
}
/*Work CSS end*/

/* Contact CSS */
.contact-grid p{
    text-align: center;
}
#contact-content{
    max-width: 1600px;
    height: 1000px;
    margin: 0 auto;
}
.contact-grid{
    height: 1000px;
}
/* Contact CSS End */































@media screen and (max-width: 900px) {
    
    .home-grid {
        display: block;
        height: auto;
      
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .home-text{
        display: none;
        margin-top: 0;
        position: relative;
    }
    
    .home-title {
        font-size: 25px;
        color: #000000;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
    .home-img, .home-text {
        width: 80%;
        display: block;
        margin: 0 auto;
        padding-bottom: 0%;
    }
    .home-text{
        overflow: scroll;
    }
    .about-img, .about-text {
        width: 80%;
        display: inline;
        
    }
    .about-img{
       margin: auto;
    
    }
    .about-text{
        overflow: scroll;
        position: relative;
        
    }
    .work-img, .work-text{
        width: 80%;
        display: inline-block;
        margin: 0 auto;
        position: relative;
    }
    .work-container::after{
        height: 150%;
    }
    .work-text{
        overflow: scroll;
    }
}
