@import url('https://fonts.googleapis.com/css2?family=Alike&family=Lato&family=PT+Serif&family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

:root{
--heading-font: "Alike";
--paragraph-font: Lato;
}

#content{
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 10fr;
    
    
}

body{
    background-color:#ffffff;
    font-family: Lato, Roboto serif, PT serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
/* .home-title{
    font-family: 'Lato', 'Roboto Serif', PT serif;
    font-size: 2em;
    margin-top: 10px;
} */
header{
    background-color:#ea638c;
    color:#EEEEEE;
    display: grid;
    grid-template-columns:150px auto;
}
nav a:hover{
    background-color: #89023e;
    color: #ffffff;
}

nav{
    display: flex;
  
}

nav a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
.home-title{
    color: #000000;
    margin-top: 10px;
    font-size: 2em;
}
footer{
    
    color: #000000;
    background-color: #ffd9da;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    background-color: #E5E5E5;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    
footer .social img{
    padding-top: 15px;
    height: 50px;
    padding-right: 10px;
}

.logo{
    width: 80px;
    border-radius: 50%;
    
}
.icon{
    width: 80px;
    padding-top: 10px;
}

#logo_link{
    padding-top: 5px;
    padding-left: 50px;
}

/* home page start */
.home-container{
    position:relative;
    
}
.home-grid{
    display: grid;
    grid-template-columns: 10fr auto;
    position: relative;
}


footer{
    margin-top: -1%;
    padding-top: 30px;
}
.home-text, .home-img{
    position: relative;
    max-height: 700px;
   
}
.home-img{
    width: 100%;
    object-fit: cover;
}

.home-text{
    position: absolute;
    margin-left: 50px;
    margin-top: 340px;
    padding: 50px;
    border: 3px solid;
    padding-bottom: 10px;
    display: flex;
    padding-top: 0%;
    z-index: 1;
    background-color: white;
    color: black;
    height: 300px;
    width: 400px;
    font-size: 18px;
    text-align: center;
    
}


/* About CSS */
.column {
    margin-top: 100px;
    margin-bottom: 100px;
    float: left;
    flex: 50%;
    
  }
  
  .left {
    width: 20%;
  }
  
  .right {
    width: 80%;
  }
.row {
    display: flex;
  }
.about-text h2{
    color: #89023e;
    
}

.about-grid{
    background-color: white;
    height: 100%;
    width: 100%;
    
}
.about-text{
    width: 400px;
    background-color: white;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 50px;
    border: 3px solid;

}


/* flip-about page */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card img{
    object-fit: cover;
}
.img2{
    width: 240px;
}
.flip-card {
    padding-top: 250px;
    position: relative;
    margin: auto;
    background-color: transparent;
    width: 240px;
    height: 300px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }


  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #89023e;
    color: white;
    transform: rotateY(180deg);
    
  }
  .flip-card-back h3{
    padding-top: 50px;
  }
  .social-flip .fb, .li, .ig{
    width: 30px;
    height: 30px;
    background-color: #89023e;
  }
  .social-flip:focus{
    background-color: #89023e;
  }
 
/* flip end */


/* Work CSS */
#work-content{
    max-width: 1600px;
    height: 1000px;
    margin: 0 auto;
}
.work-grid{
    height: 100%;
}
.work-home-title{
    font-family: Alike;
    font-size: 2em;
    padding-top: 100px;
    padding-left: 90px;
    margin-bottom: 0px;
    float: left;
}
.work-container{
    float: left;
    display: flex;
    justify-content: space-between;
    width: 87%;
    height: 47%;
    /* margin: 5rem auto 0 auto; */
    margin-left: 100px;
    
    border: solid;
    
}
.work-container img{
    max-width: 300px;
    max-height: 500px;
    padding-top: 50px;
    padding-left: 40px;
    
}
.work-container h2{
    margin:0;
    padding-left: 20px;
}
.work-container p{
    padding: 0 0 0 20px ;
    font-size: 22px;
    text-align: justify;
}
.work-text{
    padding: 50px;
}
/*Work CSS end*/

/* Contact CSS */
.contact-grid p{
    text-align: center;
}
#contact-content{
    max-width: 1600px;
    height: 1000px;
    margin: 0 auto;
}
.contact-grid{
    height: 1000px;
}
/* Contact CSS End */












@media screen and (max-width: 900px) {
    .column {
        width: 80%;
        padding-left: 20px;
      }
    .about-text{
        border: none;
    }
    .home-grid {
        display: block;
        height: auto;
      
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .home-text{
        display: none;
        margin-top: 0;
        position: relative;
    }
    
    .home-title {
        font-size: 25px;
        color: #000000;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
    .home-img, .home-text {
        width: 80%;
        display: block;
        margin: 0 auto;
        padding-bottom: 0%;
    }
    .home-text{
        overflow: scroll;
    }
    .about-img, .about-text {
        width: 80%;
        display: inline;
        
    }
    .about-img{
       margin: auto;
    
    }
    .about-text{
        overflow: scroll;
        position: relative;
        
    }
    .work-img, .work-text{
        width: 80%;
        display: inline-block;
        margin: 0 auto;
        position: relative;
    }
    .work-container::after{
        height: 150%;
    }
    .work-text{
        overflow: scroll;
    }
}
